.feedback
    padding: 65px 0 60px
    position: relative
    z-index: 1
    overflow: hidden
    &:before
        content: ''
        width: calc(50% - 15px)
        height: 100%
        position: absolute
        z-index: -1
        top: 0
        right: 0
        background: url(../img/feedback-bg.jpg) no-repeat right
        background-size: cover
    &-wrap
        display: flex
.form
    width: calc(50% - 15px)
    justify-content: space-between
    &__title
        font-size: 24px
        +bold
        line-height: 35px
        margin-bottom: 49px
    &__subtitle
        display: block
        margin-bottom: 50px
    &__input
        width: 47%
        margin-bottom: 30px
        outline: none        
    &__button
        font-size: 16px
        margin-bottom: 31px
        width: 100%
    &-txt
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        font-size: 15px
        font-weight: 400
        line-height: 24px
        &__descr
            width: 45%
            margin-bottom: 20px
        &__tel
            display: flex
            align-items: center
            width: 45%
            margin-bottom: 20px
        &__tel::before
            display: block
            width: 40px
            min-width: 40px
            height: 40px
            margin-right: 19px
            border-radius: 50%
            border: 2px solid $input-border
            content: '' 
            background-image: url(../img/phone-receiver.png)
            background-repeat: no-repeat
            background-position: center
    form
        display: flex
        justify-content: space-between
        flex-wrap: wrap

    
            