.feedback
    display: flex
    justify-content: space-between
.form
    padding-left: 360px
    padding-top: 92px
    width: 95%
    &-img__block
        height: 100%
    &__title
        font-size: 24px
        +bold
        line-height: 35px
        margin-bottom: 49px
    &__subtitle
        display: block
        margin-bottom: 50px
    &__input
        width: 40%
        margin-bottom: 30px
        &:first-child
            margin-right: 30px
    &__button
        padding: 28px 140px 28px 140px
        font-size: 16px
        margin-bottom: 31px
    &-txt
        display: flex
        font-size: 15px
        font-weight: 400
        line-height: 24px
        margin-bottom: 95px
        &__descr
            width: 45%
            margin-right: 70px
        &__tel
            display: flex
            align-items: center
        &__tel::before
            display: block
            width: 40px
            height: 40px
            margin-right: 19px
            border-radius: 50%
            border: 2px solid $input-border
            content: '' 
            background-image: url(../img/phone-receiver.png)
            background-repeat: no-repeat
            background-position: center

            