@media (max-width: 1200px)
    .container
        width: 970px
    .form-txt
        font-size: 12px
    
@media (max-width: 992px)
    .header
        &-txt
            flex-direction: column
            &__phone
                font-size: 10px
    .container
        width: 767px
    .main
        padding: 5px 0
        &-wrap
            flex-direction: column
        &-txt
            width: 100%
            max-width: 400px
            margin: auto
            &__title
                text-align: center
                font-size: 35px
                margin-bottom: 28px
                span
                    font-size: 17px
        &-advantage
            display: flex
            flex-direction: column
            &__img
                margin-left: 0
        &-img
            width: 100%               
    .feedback:before
        display: none
    .feedback
        padding: 35px 0 60px
        background: #fff
    .form
        width: 100%
        justify-content: center
        text-align: center
        input
            width: 100%
    .form-txt
        font-size: 15px
        &__descr, &__tel
            width: 100%
            text-align: center
        &__tel
            justify-content: center
        &__tel::before
            display: none

@media (max-width: 830px)
    .container
        width: 576px
    .hidden-xs
        display: none
    .main
        margin-bottom: 10px
        &-wrap
            flex-direction: column
        &-txt
            width: 100%
            max-width: 400px
            margin: auto
            &__title
                text-align: center
        &-advantage
            display: flex
            flex-direction: column
            &__img
                margin-left: 0
        &-img
            width: 100%
    .header
        &-wrap
            flex-direction: column
        &-logo
            text-align: right
    .feedback:before
        display: none
    .form
        width: 100%

@media (max-width: 620px)
    .container
        width: 80%
    .header
        &-text
            display: flex
            flex-direction: column
            align-items: center
            &__contacts
                text-align: center
                margin-bottom: 10px
                margin-right: 0 
    .button
        padding: 20px 25px
        margin-bottom: 10px
    .main
        &-txt
            &__title
                font-size: 27px
                line-height: 34px
                span
                    font-size: 16px
    .hidden-xs
        display: none
    .feedback
        padding: 20px 0 60px
    .form
        &__title
            font-size: 22px
            margin-bottom: 35px
        &-txt
            flex-direction: column
            justify-content: center

@media (max-width: 375px)
    .container
        width: 80%
    .header
        &-text
            display: flex
            flex-direction: column
            align-items: center
            &__contacts
                text-align: center
                margin-bottom: 10px
                margin-right: 0  
    .button
        padding: 20px 25px
        margin-bottom: 10px
    .main
        padding: 0
        &-txt__title
            margin-bottom: 30px
            font-size: 22px 
            span
                margin-top: 12px
    .feedback
        padding: 0
    .form
        &__title
            margin-bottom: 30px
            font-size: 22px
            text-align: center
        &__subtitle
            margin-bottom: 25px
            text-align: center
        input
            margin-bottom: 20px





    

    


