@media (max-width: 1200px)
    .container
        width: 970px
    
@media (max-width: 992px)
    .container
        width: 767px
    .main
        &-text
            &__title
                font-size: 33px
                line-height: 36px
                span
                    font-size: 16px
    .feedback
        background: #fff
        form
            text-align: center
            input
                &:first-child
                    margin-right: 0
            button
                width: 50%

@media (max-width: 768px)
    .hidden-xs
        display: none
    .container
        width: 95%
    .main
        &-wrap
            flex-direction: column
        &-txt
            max-width: 400px
            margin: auto
            &__title
                text-align: center
        &-advantage
            display: flex
            flex-direction: column
            align-items: center
            &__img
                margin-left: 0
    .header
        &-txt
            flex-direction: column
            &__phone
                font-size: 10px

@media (max-width: 576px)
    .header
        &-wrap
            flex-direction: column
        &-logo
            text-align: right
    .main
        &-txt
            &__title
                font-size: 27px
                line-height: 34px
                span
                    font-size: 16px
    .hidden-xs
        display: none

    .header



    

    


