@import '_var.sass'
@import '_mixin.sass'
@import '_normalize.scss'
@import '_fonts.scss'
@import '_interface.sass'
@import '_header.sass'

@import '_main.sass'
@import '_feedback.sass'

*, *::after, *::before
    box-sizing: border-box
body
    font-family: 'Museo Sans Light', sans-serif
    color: $text-color
.container
    width: 1170px
    margin: 0 auto
img
    max-width: 100%

@import '_media.sass'