.guarantee
    margin-bottom: 140px
    margin-top: 100px
    &-wrap
        display: flex
        justify-content: space-between
    &-name
        padding: 27px 26px 0
        font-size: 16px
        font-weight: 400
        line-height: 23px
        min-height: 170px
        span
            +bold
    &-item
        width: calc(33.33% - 20px)
        background-color: $light-bg-color
    &-img
        width: 100%